/*@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");*/
.login-block{
	background: #e2e2e2;  /* fallback for old browsers */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	float:left;
	width:100%;
	padding : 5% 0;
	min-height: 100%; 
	height: auto!important; 
	position: fixed;
	top: 0; 
	left: 0;
}
.banner-sec{background:url(/visita/assets/images/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1); }
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-size:30px; font-weight: bold;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

@media only screen and (max-width:720px) {
	.banner-sec {
		display: none;
	}

	.container {
		box-shadow: none;
		overflow: scroll;
	}

	.logo-movil {
		display: block!important;
		margin-bottom: 5%;
	}

	.login-block{
		background: transparent;
		float:left;
		width:100%;
		padding : 5% 0;
		min-height: 100%; 
		height: auto!important; 
		position: relative;
		top: 0; 
		left: 0;
	}
}